/*
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: white;
    padding: 15px 0;
   
}

 header h1 {
    color: rgb(81, 80, 80);
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 75px;
    margin-left: 10px;
}


nav {
    background-color: #d84315;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
nav ul li a.activo{
    background-color: rgba(0, 0, 0, 0.3);
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
/*
reglas para el home*/
.columna{
    width: 30%;
    padding-right: 10px;
    box-sizing: border-box;
}

.columnas{
    display: flex;
    justify-content: space-between;
}
.columna p{
    font-size: 20px;
    text-align:center;
    color: rgb(81, 80, 80);
}
.columna h2{
    color: #d84315;
    font-weight:500;
    text-align: center;
    text-transform: uppercase;
}
/* fin del home*/

/*inicio servicios*/

 .introduccion p{
    font-size: 12px; /*0.7rem*/
    /* color: rgb(81, 80, 80); */
 }

 .nuestros_servicios h2{
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(81, 80, 80);
 }
.servicios{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
   
}
.servicio{
    border-radius: 5px;
    width: 31%;
    text-align: center;
    padding: 13px;
    margin: 16px 0;
    box-sizing: border-box;
    justify-content: space-around;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}
.servicio img{
    border-radius: 5px;
    max-width: 100%;
    border: 1px solid #ccc;
}
.servicio h5 {
    margin: 0;
    color:rgb(81, 80, 80);
    font-size: 14px;
    margin-top: 5px;
}

.servicio p{
    color: rgb(81, 80, 80);
    font-size: 10px;
} 
/*fin servicios*/
/*inicio institucional*/ /* separar en dos*/
.nosotros{
   display: flex; 
   justify-content: space-between;
}
.institucional{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    justify-content: space-between;
    text-align:left;
}
.institucional h3{
    color: #d84315;
    font-weight:bold;
    text-transform: uppercase;
    font-style:normal;
    border-bottom: 1px solid #d84315;
    padding-bottom: 10px;
}
.institucional p{
    font-size: 15px;
}

.clientes{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: block;
    justify-content: space-between;
    text-align:left;
}
.clientes h3{
    color: #d84315;
    font-weight:bold;
    text-transform: uppercase;
    font-style:normal;
    border-bottom: 1px solid #d84315;
    padding-bottom: 10px;
}

.clientes img{
    max-width: 100%;
}
/*fin institucional*/
/*inicio galeria*/
.galeria{
    display: flex;/*todos a lo largo*/
    flex-wrap: wrap;/*desborde hacia abajo*/
    justify-content: flex-start;/*se van ordenando de izquierda a derecha*/
}
.galeria img{
    width: 18%; /*porcentaje sobre el 100% del ancho*/
    border: 1px solid #ddd; /* siempre grosor tipo y color*/
    padding: 0.3em; /*separacion de la imagen respecto al borde*/
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/*fin galeria*/
/*inicio contacto*//*poner iconos en datos*/
.contacto_directo{
    color: rgb(81, 80, 80);
    background-color:#f0eeeea7; 
    padding: 3px;
   padding-left: 20px;
}
.contacto{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    gap: 24px; 
    color: rgb(81, 80, 80);
}

.form , .datos{
    width: 50%;
}

.datos h2{
    padding-left:40px;
    
}
.datos ul li{
    font-size:15px;
    padding-bottom: 7px; 
}
.datos ul{
    list-style: none;
    font-size:15px;
    font-weight: 100;
}

.formulario p{
    display:flex; /*pone a lo largo, uno al lado del otro*/
}
 .formulario p label{
    min-width:80px;/*espacio minimo que ocupa el label*/
    display:flex; /*caja contenedora*/
    align-items:center; /*para que quede la etiqueta en el medio de la caja*/
}
.formulario p input, 
.formulario p textarea{
    width: 90%;
    background: #f0eeeea7;
    border-radius: 5px;
    border: 1px solid #8a8787;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario p:nth-child(4){
    align-items:start; /*cambia la posicion del 4to p*/
}
.formulario textarea{
    resize:none;/*deja fijo el tamaño del area*/
    height:150px;
} 

.formulario input[type="submit"]{
    background:#972f10;
    box-shadow:0 0 10px rgba(0 ,0,0, 0.3);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;/*ancho del boton*/
    position: relative;/*posicion del boton*/
    left: 5rem;/*alineacion*/
    cursor: pointer; /*aparece la manito*/
}
.formulario input[type="submit"]:hover{
    background-color:#d84315;/*cambia de color cuando pasa la manito*/
}


@media screen and (min-width:100px) and (max-width :800px) {
   
    .holder{
        width: 100%;
    }

    .homeimg img {
        width: 100%;
    }
    .columnas{
        width: 100%;
    }
.logo{
    display:inline-flex;
 align-items: self-end;
}
.logo h1{
    font-weight:700;
    font-size: 15px;
    display: flex;
    bottom: 50px;
    margin-left: 10px;
 
   
}
.galeria img{
    width: 30%;
   
}
.galeria{
    justify-content:space-between;

}
.contacto{
    display:block;
    
}
.form {
    width:100%;
}


}

/* 
@media screen  and (max-width :992px) {
    body{
        background-color: #d84315;
    }
}
@media screen  and (max-width :600px) {
    body{
        background-color:antiquewhite;
    }
} */
/*arreglar galeria y bajar contacto*/