header {
    background-color: #ccc;
    padding: 15px 0;
    display: flex;
}

header h2 {
    color: rgb(81, 80, 80);
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 75px;
    margin-left: 2rem;
}

.navIcons {
    list-style: none;
    display:inline-block;
    position:relative;
    margin-right: 2rem;
    padding: 1.5rem;
}
.navIcons li {
 padding: 0.5rem;
}

.navIcons a {
    color: #373535;
    text-decoration: none;
}
.navIcons a:hover{
    color: #faf9f9;
}

 @media screen and (min-width:100px) and (max-width :767px) {
    header h2 {
        font-size: 20px;
        bottom: 0%;
        margin-left:15%;
    }
    .img_logo{
        margin-left: 4%;
    }
    
.navIcons {
   padding-left: 2.5rem;
}
 }
 @media screen and (min-width:768px) and (max-width :1023px) {
    header h2 {
        font-size: 20px;
        bottom: 20%;
        margin-left:15%;
    }
    .img_logo{
        margin-left: 4%;
    }
 }
 @media screen and (min-width:1023px){
    header h2 {
        font-size: 25px;
        bottom: 5rem;
    }
    .img_logo{
        margin-left: 45px;
    }
 }
