/*
font-family: 'Open Sans', sans-serif;
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
nav ul li a.activo{
    background-color: #4c76a5;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
h2{
    color: #2e64a1;
    font-weight: 400;
}
/*reglas para el home*/
.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}
.testimonios{
    width: 25%;
}
.columnas{
    display: flex;
    justify-content: space-between;
}
.bienvenidos p{
    font-size: 20px;
}
.testimonio{
    background-color: #ccc;
    padding: 16px;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}
.testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}
/* fin del home*/
/*inicio nosotros*/
.historia p{
    font-size: 12px; /*0.7rem*/
}
.personas{
    display: flex;
    justify-content: space-between;
}
.persona{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}
.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.persona h5, .persona h6{
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}
.persona h5{
    font-size: 14px;
    margin-top: 5px;
}
.persona h6{
    font-size: 11px;
  font-style: italic;
}
.persona p{
    color: #666;
    font-size: 10px;
}
/*fin nosotros*/
/*inicio servicios*/
.servicio{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
.servicio .info h4{
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}
.servicio .info p{
    font-size: 13px;
}
.servicio img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even){
    flex-direction: row-reverse;
}

/*fin servicios*/
/*inicio galeria*/
.galeria{
    display: flex;/*todos a lo largo*/
    flex-wrap: wrap;/*desborde hacia abajo*/
    justify-content: flex-start;/*se van ordenando de izquierda a derecha*/
}
.galeria img{
    width: 18%; /*porcentaje sobre el 100% del ancho*/
    border: 1px solid #ddd; /* siempre grosor tipo y color*/
    padding: 0.3em; /*separacion de la imagen respecto al borde*/
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}
/*fin galeria*/

/*inicio contacto*/
.contacto{
    display: flex;
    gap:24px; /*separacion entre los div*/
}
.contacto div{
    width:100%; /*todo el contenido ocupa 100%*/
}
.datos p{
    font-size:14px;
}
.datos ul li{
    font-size:13px;
}
.formulario p{
    display:flex; /*pone a lo largo, uno al lado del otro*/
}
 .formulario p label{
    min-width:80px;/*espacio minimo que ocupa el label*/
    display:flex; /*caja contenedora*/
    align-items:center; /*para que quede la etiqueta en el medio de la caja*/
}
.formulario p input, 
.formulario p textarea{
    width: 90%;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #8a8787;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario p:nth-child(4){
    align-items:start; /*cambia la posicion del 4to p*/
}
.formulario textarea{
    resize:none;/*deja fijo el tamaño del area*/
    height:150px;
} 

.formulario input[type="submit"]{
    background: #6da9ed;
    box-shadow: 0 0 10px rgba(0 ,0,0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;/*ancho del boton*/
    position: relative;/*posicion del boton*/
    left: 5rem;/*alineacion*/
    cursor: pointer; /*aparece la manito*/
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;/*cambia de color cuando pasa la manito*/
}
 

@media screen and(min-width:100px) and (max-width :900px){
    nav {
        background-color: #e14f4f;
    }
}

