.tituloNovedades{
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(81, 80, 80);
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
 }

.novedad{
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    margin: 16px 0;
    box-sizing: border-box;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(166, 165, 165, 0.9);
    
}
.novedad img{
    border-radius: 5px;
    max-width: 100%;
    border: 1px solid #ccc;
}
.novedad h4{
    margin: 0;
    color:rgb(81, 80, 80);
    font-size: 14px;
    margin-top: 5px;
}
.novedad h1{
    margin: 0;
    color:rgb(81, 80, 80);
}
.novedad p{
    color: rgb(81, 80, 80);
    font-size: 12px;
} 

@media screen and (min-width:100px) and (max-width :800px) {
.tituloNovedades{
    text-align: center;
}
}