.nosotros{
    align-items: center;
    display: flex;
    justify-content: space-between;
 }
 .institucional{
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 47%;
     padding: 10px;
     margin: 13px 0;
     display: block;
    justify-content: space-between;
    
     text-align:left;
 }
 .institucional h3{
     color: #d84315;
     font-weight:bold;
     text-transform: uppercase;
     font-style:normal;
     border-bottom: 1px solid #d84315;
     padding-bottom: 10px;
 }
 .institucional p{
     font-size: 15px;
 }
 
 .clientes{
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 100%;
     text-align:left;
     padding: 10px;
     } 
   
 
 .clientes h3{
     color: #d84315;
     font-weight:bold;
     text-transform: uppercase;
     font-style:normal;
     border-bottom: 1px solid #d84315;
     padding-bottom: 10px;
 }

     .foto_clientes{
        display: flex;
        justify-content: center;
        width: 100%;
     }
     .holder{
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (min-width:100px) and (max-width :800px) {
   
        .holder{
            width: 100%;
        }

    .clientes, .institucional{
        text-align:center;
        margin: 10px;
        } 
    }